

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* //end
//滚动条样式 */
#default_content_warp::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #dee0e2;
}

#default_content_warp::-webkit-scrollbar-thumb {
  background: #6e6e6e;
}

/* 树 */
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected{
  background: none !important;
}